#rectangle {
    width: 80%;
    height: 75.8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    position: absolute;
    top: 147.5px;
    left: 89.2px;
    border-top-left-radius: 4.2px;
    border-top-right-radius: 4.2px;
    border: 1px solid hsla(0,0%,71%,0.17);
    padding: 1.5em;
    margin-right: 2em;
    background-color: hsla(0,0%,71%,0.17);
}
#arrow-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#arrow-container h3 {
    margin-right: 1em;
    margin-bottom: 0;
}
#arrow-down {
    width: 15px;
    height: 15px;
}
#standard-vcep {
    margin-top: 0;
    font-size: 0.8rem;
}